
@mixin list-reset() {
	list-style-type: none;
	margin: 0;
	padding: 0;
}

@mixin box-sizing($box-model) {
  -webkit-box-sizing: $box-model;
     -moz-box-sizing: $box-model;
          box-sizing: $box-model;
}