/* Shared */
.bb-link__itemtitle {
	margin: 0 0 .2em 0;
	
	a,a:link {
		text-decoration: none;
	}
	
	a:hover {
		text-decoration: underline;
	}
}
.bb-link__itemdesc {
	margin: 0;
}

/* List view */
.BBLinksListView {
	
	.bb-link__items {
		margin-left: 1.5em;
	}
	
	.bb-link__item {
		display: flex;
		margin-bottom: .7em;
	}

	.bb-link__itemimage {
		align-items: flex-start;
		margin-right: .5em;
		color: #666;
	}
	
	.bb-link__itembody {
		flex: 1;
	}
}


/* Media view */
.BBLinksMediaView {
	.bb-link__item {
		display: flex;
		align-items: center;
		margin-bottom: .7em;
	}

	.bb-link__itemimage {
		align-items: flex-start;
		margin-right: 1em;

		img {
			border: 2px solid #eee;
		}
	}
	
	.bb-link__itembody {
		flex: 1;
	}
}

/* Grid view */
.BBLinksGridView {
	.bb-link__items {
		display: flex;
		flex-wrap: wrap;
		justify-content: flex-start;
	}
	
	.bb-link__item {
		margin-right: 1em;
		margin-bottom: 1em;
		text-align: center;
	}

	.bb-link__itemimage {
		img {
			margin: 0;
			border: 2px solid #eee;
		}
	}
	
	.bb-link__itemtitle {
		padding: .2em;
		font-size: inherit;
		text-align: center;
	}
	
	.bb-link__itemdesc {
		
	}
}

/* Button Grid view */
.BBLinksButtonGridView {
	.bb-link__items {
		display: flex;
		flex-wrap: wrap;
		justify-content: flex-start;
	}
	
	.bb-link__item {
		margin-right: 1em;
		margin-bottom: 1em;
		text-align: center;
		background-color: #ccc;
	}

	.bb-link__itemimage {
		img {
			margin: 0;
			border: 2px solid #eee;
		}
	}
	
	.bb-link__itemtitle {
		padding: .2em;
		font-size: inherit;
		text-align: center;
	}
	
	.bb-link__itemdesc {
		
	}
}