
/*-------- Base styles --------*/

@media print, screen and (max-width: 40em) {
	.bb-multi-column {
		> .row {
			> .column {
				padding-left: 0;
				padding-right: 0;
			}
		}
	}
}

@media print, screen and (min-width: 40em) {
	.bb-multi-column {
		> .row {
			> .column:first-child {
				padding-left: 0;
			}
			> .column:last-child {
				padding-right: 0;
			}
		}
	}
}


.typography {
	.bb-multi-column {
		.bb-multi-column__content {
			> h1:first-child,
			> h2:first-child,
			> h3:first-child,
			> h4:first-child,
			> h5:first-child,
			> h6:first-child {
				margin-top: 0;
			}
		}
	}
}