/* Shared */
.bb-nav {
	a {
		color: $nav-link-color;
		text-decoration: $nav-link-decoration;
		&:link {
			text-decoration: $nav-link-decoration;
		}
	}
	
	.fa {
		font-style: normal;
	}
}


/* Block Nav Lists */
.bb-nav-list__link {
	display: inline-block;
	color: inherit;
	padding: 0;
	border-bottom: 2px solid rgba(0,0,0,.0);
	
	&:hover {
		text-decoration: none;
		border-bottom: 2px solid rgba(0,0,0,.2);
	}
}

.bb-nav-list__item--active a {
	border-bottom: 2px solid #333;
}

/* Block Nav Horizontal List */
.bb-nav-list--horizontal {
	text-align: center;
	> ul {
		margin: 1em auto;
	}

	.bb-nav-list__item {
		display: inline-block;
		vertical-align: top;
		margin: 0 .7em .3em .7em;
		.dropdown {
			display: inline-block;
		}
	}

	.bb-nav-list__children {
		> li > a {
			color: inherit;
			font-weight: inherit;
		}
	}
}

/* Block Nav Vertical List */
.bb-nav-list--vertical {
	text-align: left;
	> ul {
		margin: 0 0 1em 0;
	}

	.bb-nav-list__item {
		display: block;
		clear: both;
		margin: 0 0 .3em 0;
		padding: 0;
		zoom: 1;
		vertical-align: middle;
		background-color: transparent;
	}

	.bb-nav-list__children {
		> li > a {
			color: inherit;
			font-weight: inherit;
		}
	}
}


/* Block Nav Menu */
.bb-nav-menu {
	clear: both;
	.menu.vertical {
		@include list-reset();
		
		.active > a,
		.is-active > a {
			background-color: rgba(0,0,0,.1);
		}
		
		li {
			margin: 0;
			padding: 0;
			line-height: 1.3;

			&.menu-current {
				background-color: rgba(255,255,255,.2);
			}

			a {
				color: inherit;
				line-height: 1.3;
				&:hover, &:focus, &:active {
					text-decoration: none;
					background-color: rgba(0,0,0,.05);
				}
			}
			
			.menu.vertical {
				z-index: 10;
				min-width: 16em;
				-webkit-box-shadow: 10px 10px 5px -8px rgba(0,0,0,0.28);
				-moz-box-shadow: 10px 10px 5px -8px rgba(0,0,0,0.28);
				box-shadow: 10px 10px 5px -8px rgba(0,0,0,0.28);

				li {
					text-align: left;
				}
				
				a {
					display: block;
					white-space: normal;
				}
			}
		}
	}
	
	.submenu-toggle {
		position: absolute;
		top: 0;
		right: 0;
		width: 40px;
		padding: 0.5em 10px;
		text-align: center;
		color: inherit;

		&:hover, &:focus, &:active {
			background-color: rgba(0,0,0,.1);
		}
	}
}

.bb-nav-menu--vertical {
	margin-bottom: 1em;
}


.bb-nav-menu--horizontal {
	color: #444;
	background-color: #ddd;
	
	.menu {
		> li {
			display: inline-block;
			*display: inline;
			margin-right: -4px; /* Fix for extra space added by browser */
			zoom: 1;
			vertical-align: top;
			text-align: center;
		}
		
		a {
			font-weight: normal;
		}
	}
}

.flexbox {
	.bb-nav-menu--horizontal {
		.menu {
			display: flex;
			> li {
				flex-grow: 1;
				flex-shrink: 1;
				flex-basis: auto;
				margin-right: 0;
			}
		}
	}
}


@media screen and (max-width: 900px) {
	
}
